<%- layout("/layouts/boilerplate.ejs") %>
<div class="row col-6 offset-2 mt-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
    </div>
</div>